# Gradle
.gradle/
build/

# Gradle configuration
settings.gradle
gradle.properties

# IDEA
.idea/

# 其他构建文件
*.jar
*.war
*.ear
*.zip
*.tar
*.tar.gz
run/
!src/main/resources/META-INF/jarjar/RecipesAPI_Forge_1.20-1.20.1_1.0.1.jar

# 避免忽略gradle-wrapper.jar
!gradle/wrapper/gradle-wrapper.jar
gradle/wrapper/gradle-wrapper.properties